:root {
  --lh-common-visibility: "visible";
  --rh-common-visibility: "visible";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

#popup {
  display: none;
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#popup p {
  font-weight:bold;
}

#popup > div {
  position: relative;
  left: 20px;
  background: white;
  top: 20px;
  width: calc(100% - 60px);
  height: calc(100% - 64px);
  padding: 10px;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

thead > tr {
  background: #eeeeee;
  font-weight:bold;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  position: relative;
}

#lhtable tr.in-other {
  background: lightgreen;
  visibility: var(--lh-common-visibility);
}
#rhtable tr.in-other {
  background: lightgreen;
  visibility: var(--rh-common-visibility);
}

#popup td:hover::after {
  background-color: rgba(255, 255, 100, 0.2);
  content: "";
  height: 2000px;
  left: 0;
  position: absolute;
  top: -1000px;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

input {
  padding: 8px;
  display: block;
  border: 1px solid #cccccc;
  width: 80%;
  overflow: visible;
  margin: 10px auto;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #3aaf10; /* Green */
}

